@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Jost";
    font-weight: 100;
    src: url("assets/fonts/Jost-Thin.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 100;
    font-style: italic;
    src: url("assets/fonts/Jost-ThinItalic.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 200;
    src: url("assets/fonts/Jost-ExtraLight.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 200;
    font-style: italic;
    src: url("assets/fonts/Jost-ExtraLightItalic.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 400;
    src: url("assets/fonts/Jost-Regular.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 400;
    font-style: italic;
    src: url("assets/fonts/Jost-Italic.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 500;
    src: url("assets/fonts/Jost-Medium.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 500;
    font-style: italic;
    src: url("assets/fonts/Jost-MediumItalic.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 600;
    src: url("assets/fonts/Jost-SemiBold.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 600;
    font-style: italic;
    src: url("assets/fonts/Jost-Jost-SemiBoldItalic.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 700;
    src: url("assets/fonts/Jost-Bold.ttf");
  }
  @font-face {
    font-family: "Jost";
    font-weight: 700;
    font-style: italic;
    src: url("assets/fonts/Jost-BoldItalic.ttf");
  }
  @font-face {
    font-family: "Open Sans Condensed";
    font-weight: 400;
    src: url("assets/fonts/OpenSans_Condensed-Light.ttf");
  }
  @font-face {
    font-family: "Open Sans Condensed";
    font-weight: 600;
    src: url("assets/fonts/OpenSans_Condensed-Medium.ttf");
  }
}
@layer components {
  .navigation {
    @apply sticky top-0 z-10 h-20 flex justify-between items-center px-8 md:px-16 bg-neutral-900 text-slate-100;
  }
  .main-container {
    @apply min-h-[calc(100vh-5rem)] flex flex-col items-center justify-center;
  }
  .category-container {
    @apply flex flex-col justify-center items-center  h-[calc((100vh-5rem)/2-1.2rem)] mb-4 sm:mb-0 sm:h-[calc((100vh-5rem)/2-0.5rem)]  md:h-64 
    border-solid border-2 border-zinc-600 grayscale cursor-pointer overflow-hidden;
  }
  .category-image {
    @apply translate-y-16   scale-105  md:translate-y-0  
    transition ease-in-out  duration-500;
  }
  .category-description {
    @apply sm:p-4 lg:p-6 p-2 text-center border-solid border-2 border-zinc-600 bg-slate-100 absolute
    transition ease-in-out  duration-500;
  }
  .category-container:hover .category-image {
    @apply duration-500  brightness-125   scale-125 translate-y-28 md:scale-110 md:translate-y-8;
  }
  .category-container:hover .category-description {
    @apply duration-500 bg-neutral-700 border-zinc-500 text-neutral-100;
  }

  /* Forms */
  /* common attributes */
  .form-container {
    @apply h-[calc((100vh-5rem))] md:h-auto 
    flex flex-col justify-center md:justify-between items-center 
    font-openSansCondensed text-slate-100;
  }
  .sign-up-form,
  .sign-in-form {
    @apply w-full;
  }
  .form-input {
    @apply py-2.5 px-0  tracking-widest   text-lg lg:text-xl   bg-transparent border-0 border-b-2 border-gray-300 appearance-none 
    focus:outline-none focus:ring-0 focus:border-violet-600;
  }

  /* different attributes */
  .sign-in-form .input-group {
    @apply flex flex-col  mb-6;
  }

  .sign-up-form .input-group {
    @apply flex flex-col relative z-0 mb-6;
  }

  .sign-up-form .input-group input {
    @apply order-2;
  }
  .sign-up-form .input-group label {
    @apply order-1;
  }

  .sign-up-form label {
    @apply absolute text-slate-200 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] lg:text-lg;
  }
  .sign-up-form input:placeholder-shown + label {
    @apply scale-100 translate-y-0;
  }
  .sign-up-form input:focus + label {
    @apply left-0 text-violet-600 scale-75 top-3 origin-[0] -translate-y-6;
  }

  .sign-in-form label {
    @apply lg:text-lg;
  }
  .sign-in-form .button-group {
    @apply flex flex-col  mb-6 md:grid md:grid-cols-2 md:gap-4;
  }
  /* Buttons */
  .btn {
    @apply border border-transparent focus:ring-1  focus:ring-indigo-300
  font-jost italic font-normal text-sm  text-center
  mb-4 md:mb-0 px-5 py-2.5 rounded-sm w-full sm:w-auto;
  }
  .btn-purple {
    @apply text-slate-100 bg-indigo-700 
hover:bg-slate-100 hover:text-indigo-800 hover:border-indigo-700;
  }
  .btn-red {
    @apply text-slate-100 bg-red-700 hover:bg-slate-100 hover:text-red-800 hover:border-zinc-600;
  }
}
